.button {
    font-size: 300%;
    text-align: center;
    background-color: aqua;
}
.button:hover {
    background-color: orange;
    cursor: pointer;
}
.fullWidth {
    width: 100%;
}
.header {
    width:100%;
    background-color: lime;
    text-align: center;
    font-size: 300%;
}
.imageCentered {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.leftArrowBtn {
    display: inline;
    width:15%;
    float:left;
    font-size: 700%;
    height:100%;
    background-color: blue;
}
.leftArrowBtn:hover {
    cursor: pointer;
    background-color: aqua;
}
.rightArrowBtn {
    display: inline;
    width:15%;
    float: right;
    font-size: 700%;
    height:100%;
    background-color: blue;
}
.rightArrowBtn:hover {
    cursor: pointer;
    background-color: aqua;
}
.smallLabel {
    font-size: 150%;
    background-color: lime;
    height: 5%;
    text-align: center;
}
.smallInput {
    font-size: 100%;
}
.smallInputBtn {
    font-size: 100%;
    background-color: aqua;
}
.smallInputBtn:hover {
    cursor: pointer;
    background-color: orange;
}
.tagsTextarea {
    width: 800px;
    font-size: 120%;
    height: 20%;
}